p {
    color: red;
    width: 300px;
    border: 1px solid black;
}
body{
    background-color: rgb(192, 120, 37);
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
} 
/* MARGIN: del borde hacia afuera. Con 20% se adapta a la pagina.
PADDING: del borde hacia adentro es padding 
1ero arriba, 2do derecha, 3ero abajo, 4to izq*/
.azul{
    color: blue;
} 
/* selecciona todo lo que tenga clase "azul" */